<li class="nav-item btn btn-primary ">
  <a class="nav-link"
     routerLink="/insurance/payment/add"
     routerLinkActive="clicked homeLink">Add A Payment</a>
</li>

<div class="container">
  <table class="table table-lg table-bordered">
    <tr>
      <th>ID</th>
      <th>Payment damage Cost</th>
      <th>Payment Claimant Cost</th>
      <th>Payment Defence Cost</th>
      <!--<th>Paid damage Cost</th>
      <th>Paid Claimant Cost</th>
      <th>Paid Defence Cost</th>
      <th>Incurred damage</th>
      <th>Incurred Claimant Cost</th>
      <th>Incurred Defence Cost</th>-->
      <th>Payment type</th>
      <th>Status</th>
      <th>Status Update Date</th>
      <th>Take Action</th>
    </tr>
    <tbody>
      <tr *ngFor="let payment of myPayments">
        <td>{{payment.id}}</td>
        <td>{{payment.paymentDamage}}</td>
        <td>{{payment.paymentClaimantCost}}</td>
        <td>{{payment.paymentDefenceCost}}</td>
        <td>{{payment.paymentType}}</td>
        <td>{{payment.status}}</td>
        <td>{{formatDate(payment.statusDate)}}</td>
        <td>
          <button class="btn btn-success my-2 mx-2" [routerLink]="['/insurance/payment','view',payment.id]">View</button>
          <!--<button class="btn btn-success my-2 mx-2" [routerLink]="['/insurance/payment','edit',payment.id]" [hidden]="payment.isInApproval">Edit</button>-->
          <button class="btn btn-success my-2 mx-2" (click)="onSendApprovalPayment(payment)" [hidden]="payment.isInApproval">Send For Approval</button>
          <!--<button class="btn btn-success my-2" (click)="onApprovingPayment(payment)" [disabled]="payment.status=='Approved' || payment.status=='Rejected'" [hidden]="!payment.isInApproval">Approve</button>
  <button class="btn btn-warning" (click)="onRejectingPayment(payment)" [disabled]="payment.status=='Approved' || payment.status=='Rejected'" [hidden]="!payment.isInApproval">Reject</button>-->
        </td>
      </tr>
    </tbody>
  </table>

  <div class="col-md-3 mt-5" *ngIf="noApprovedReserve">
    <strong>Can't send for Approval... since, there is no Approved Reserve !!...</strong>
  </div>


</div>
