<li class="nav-item btn btn-primary ">
  <a class="nav-link"
     routerLink="/insurance/payment/add"
     routerLinkActive="clicked homeLink">Add A Payment</a>
</li>

<div class="container">
  <table class="table table-lg table-bordered">
    <tr>
      <th>ID</th>
      <th>Payment damage Cost</th>
      <th>Payment Claimant Cost</th>  
      <th>Payment Defence Cost</th>
      <!--<th>Paid damage Cost</th>
      <th>Paid Claimant Cost</th>
      <th>Paid Defence Cost</th>
      <th>Incurred damage</th>
      <th>Incurred Claimant Cost</th>
      <th>Incurred Defence Cost</th>-->
      <th>Status</th>
      <th>Status Update Date</th>
      <th>Take Action</th>  
    </tr>
    <tbody>
      <tr *ngFor="let payment of myPayments">
        <td>{{payment.id}}</td>
        <td>{{payment.paymentDamage}}</td>
        <td>{{payment.paymentClaimantCost}}</td>
        <td>{{payment.paymentDefenceCost}}</td>
        <td>{{payment.status}}</td>
        <td>{{payment.statusDate}}</td>
        <td>
          <button class="btn btn-success mx-2">Approve</button>
          <button class="btn btn-danger mx-2">Reject</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
