
<nav class="mb-4 navbar navbar-expand bg-light">
  <div class="container">
    <a class="navbar-brand" ><h1>Insurance Claim</h1></a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"
           routerLink="insurance/reserve"
           routerLinkActive="clicked homeLink">Reserve</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLink="insurance/payment"
           routerLinkActive="clicked homeLink">Payment</a>
      </li>
     
    </ul>
  </div>
</nav> 

<router-outlet></router-outlet>
