<!--<p>add reserve works</p>-->

<div class="container">
  <form #form="ngForm" (ngSubmit)="addReserve()">
    <div class="col">

      <div class="col-md-3 mb-3">
        <label for="reserveDamage" class="stayLeft">Damage</label>
        <input type="number" class="form-control border-primary" id="reserveDamage" placeholder="Enter Damage Cost"
               [(ngModel)]="addReserveRequest.reserveDamage" name="reserveDamage" />
      </div>
      <div class="col-md-3 mb-3">

        <label for="reserveClaimantCost" class="stayLeft">Claimant Cost</label>
        <input type="number"  class="form-control border-primary" id="reserveClaimantCost" placeholder="Enter Claimant Cost"
               [(ngModel)]="addReserveRequest.reserveClaimantCost" name="reserveClaimantCost" />

      </div>
      <div class="col-md-3 mb-3">

        <label for="reserveDefenceCost" class="stayLeft">Defence Cost</label>
        <input type="number" class="form-control border-primary" id="reserveDefenceCost" placeholder="Enter Defence Cost"
               [(ngModel)]="addReserveRequest.reserveDefenceCost" name="reserveDefenceCost" />

      </div>
      <div class="col-md-2">
        <button type="submit" class="mt-4 btn btn-primary textLeft">
          Add Reserve
        </button>
      </div>
      
    </div>
  </form>
  
</div>

